{% extends "template/layout.twig" %}
{% block title %}Articles{% endblock %}
{% block body %}

<a href="{{ generate('home') }}" class="btn btn-primary mb-4">&lt Retour</a>

{% for article in articles %}
    <li>
        <a href="{{ generate('article', {idArticle: article.id, slug: article.slug}) }}">{{ article.titre }}</a>
    </li>
{% endfor %}

{% endblock %}